{% extends 'app/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Log in</h2>  
        </div>
        
    </div>
      <form method="post">
        {% csrf_token %}
        {% include 'includes/bs4_form.html' with form=form %}
        <div class="col-md-8 mx-auto">
            <input type="submit" value="Sign in" class="btn btn-primary text-centar">
        </div>
          
      </form>
  </div>
</div>
{% endblock %}
