h1 {
    color: blue;
}

.index--thumb img{
    width: 600;
    height: 400;
}

.c_nick {
    font-weight: bold;
    text-decoration: underline;
}


#cc {
    border: 1px solid black;
}

.page-header{
    background-color: lightblue;
}
body {
    background-color: lightsteelblue;
}
