{% extends 'app/base.html' %}

{% block content %}
        <h1>NEW IMAGE</h1>
        <div>
            <form action="/images/post_image" method="post">
                {% csrf_token %}
                <input type="text" id="title" name="title" placeholder="title">
                <input type="text" id="desc" name="desc" placeholder="desc">
                <input type="text" id="url" name="url" placeholder="url">
                <input type="submit" value="submit">
                
            </form>
        </div>
{% endblock %}