<div>
    <form action="{% url 'app:upvote' image.id %}" method="post" role="form" class="form-inline float-left">
      {% csrf_token %}
      <input type="submit" value="+" class="btn {{ vote.upvote|yesno:'btn-primary,' }}"  {{ user.is_authenticated|yesno:',disabled' }}>
    </form>
    <span class="vote-score float-left">{{ image.votes_score }}</span>
    <form action="{% url 'app:downvote' image.id %}" method="post" role="form" class="form-inline float-left">
      {% csrf_token %}
      <input type="submit" value="-" class="btn {{ vote.downvote|yesno:'btn-danger,' }}" {{ user.is_authenticated|yesno:',disabled' }}>
    </form>
  </div>