{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
<<<<<<< HEAD
      <div>
        Posted by: <a href="{% url 'accounts:profile_page' image.user.id %}">{{ image.user.username }}</a>
      </div>
      <div class="date">
        {{ image.pub_date }}
      </div>
      {% include "includes/vote_buttons.html" with image=image vote=vote %}
=======
      <div class="date">
        {{ image.pub_date }}
      </div>
>>>>>>> upstream/master
      <h2>{{ image.title }}</h2>
      <img class="app-fit" src="{{image.url}}" alt=""/>
    </div>
    <div class="col-md-6">
      <h3>Description</h3>
      <p>{{ image.description|linebreaksbr }}</p>
      <h3>Comments</h3>
<<<<<<< HEAD
      {% for comment,like in comments_with_likes %}
        <div class="border comment">
          
          <p class="red">
            Author: <a href="{% url 'accounts:profile_page' image.user.id %}">{{ comment.user.username }}</a> ({{comment.created_at}}) Likes: {{comment.likes_count}}
          </p>
          {% if user.is_authenticated %}
          <form action="{% url 'app:like_comment' image.id comment.id %}" method="post" class="form-inline float-right">
            {% csrf_token %}
            <input type="submit" value="Like" class="btn border {{like|yesno:'btn-primary,'}}">
          </form>
          {% endif %}
          {% if comment.approved == False %}
          <form action="{% url 'app:approve_comment' image.id comment.id %}" method="post" class="form-inline float-right">
            {% csrf_token %}
            <input type="submit" value="approve comment" class="btn border">
          </form>
          {% endif %}
=======
      {% for comment in comments %}
        <div class="border comment">
          
          <p class="red">
            Author: {{ comment.author }} ({{comment.created_at}})
          </p>
>>>>>>> upstream/master
          <p class="secondary">
            {{ comment.text }}
          </p>
        </div>
      {% endfor %}
<<<<<<< HEAD
      {% if user.is_authenticated %}
=======

>>>>>>> upstream/master
      <h2>Post a comment</h2>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      <form action="{% url 'app:comment' image.id %}" method="post" class="border">
        {% csrf_token %}
<<<<<<< HEAD
        {% include "includes/bs4_form.html" with form=form %}

        <input type="submit" value="Post Comment" class="btn btn-lg btn-primary btn-block">
      </form>
      {% endif %}
      
=======
        <p>
          <label for="comment_author">Author </label><br>
          <input type="text" name="author" id="comment_author" value="">
        </p>
        <p>
          <label for="comment_text">Comment </label><br>
          <textarea  name="comment" id="comment_text" rows="4" cols="50">
          </textarea>
        </p>

        <input type="submit" value="Vote">
      </form>
>>>>>>> upstream/master
    </div>
  </div>
</div>
{% endblock %}
