{% extends 'app/base.html' %}

{% block content %}
<<<<<<< HEAD
  <div class="row">
    <div class="col-md-10">
      {% if user.is_authenticated %}
      <p>
        <a href="{% url 'app:create_image' %}">Submit new image</a>
      </p>
      {% endif %}
    </div>
  </div>
    {% for image,vote in images_with_votes %}
      
=======
    {% for image in images %}
      <div class="container">
>>>>>>> upstream/master
        <div class="row">
          <div class="col-md-2">
            <img class="app-fit" src="{{image.url}}" alt=""/>
          </div>
          <div class="col-md-10">
            <div class="date">
              <p class="red">
<<<<<<< HEAD
              Posted by: <a href="{% url 'accounts:profile_page' image.user.id %}">{{ image.user.username }}</a> Published: {{ image.pub_date }}; 
              Comments: 
              {% if user.is_superuser %}
              {{image.admin_comments_count}}
              {% else %}
              {{image.user_comments_count}}
              {% endif %}

              {% if user.is_superuser or image.user == user %}
              <a href="{% url 'app:edit_image' image.id %}">Edit</a>
             {% include "includes/delete_image_link.html" with image=image %}
              {% endif %}
              </p>
            </div>
            {% include "includes/vote_buttons.html" with image=image vote=vote %}
=======
              Score: {{ image.votes }}; Published: {{ image.pub_date }};  Comments: {{ image.comment_set.count }} 
              </p>
            </div>
>>>>>>> upstream/master
            <h2><a href="{% url 'app:detail' image.id %}">{{ image.title }}</a></h2>
            <p>{{ image.description|linebreaksbr }}</p>
          </div>
        </div>
<<<<<<< HEAD
      
=======
      </div>
>>>>>>> upstream/master
    {% endfor %}
{% endblock %}
