{% extends 'app/base.html' %}
{% block content %}
<div class="row">
 <h1 class="m-auto">{{ selected_user.username }}'s Profile</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2 class="m-auto">Posted images</h2>
        {% for image in images%}

        <div class="row">
          <div class="col-md-2">
            <img class="app-fit" src="{{image.url}}" alt=""/>
          </div>
          <div class="col-md-10">
            <div class="date">
              <p class="red">
              Published: {{ image.pub_date }};  Comments: {{ image.comment_set.count }}; Score: {{image.votes_score}}
              </p>
            </div>
            <h2><a href="{% url 'app:detail' image.id %}">{{ image.title }}</a></h2>
            <p>{{ image.description|linebreaksbr }}</p>
          </div>
        </div>
      
    {% endfor %}
    </div>
    <div class="col-md-6">
        <h2 class="m-auto">Posted comments</h2>
        {% for comment in comments %}
        <div class="border comment">
          
          <p class="red">
           ({{comment.created_at}}) Likes: {{comment.likes_count}} Comment on: <a href="{% url 'app:detail' comment.image.id %}">{{ comment.image.title }}</a> 
          </p>
          <p class="secondary">
            {{ comment.text }}
          </p>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}