{% extends 'imgs/base.html' %}

{% block content %}
{% if image %}
    <h1>{{ image.title }}</h1>
    <div>
        <img src="{{ image.url }}" alt="">
        <br>
    </div>
    <div>
        {% for comment in comments %}
        <div id="cc">
            <p class="c_nick">{{comment.nick}}</p>
            <p class="c_text">{{comment.Text}}</p>
        </div>
        <br>
        {% endfor %}
    </div>
{% else %}
    <p>No images</p>
{% endif %}
{% endblock %}