{% extends 'imgs/base.html' %}

{% block content %}
<h1>My imgur</h1>

{% if all_images %}
    {% for image in all_images %}
        <div class="index--thumb">
            <h2>{{ image.title }}</h2>
            <a href="http://127.0.0.1:8000/images/{{ image.id }}"><img src="{{ image.url }}" alt=""></a>
        </div>
    {% endfor %}
{% else %}
    <p>No images</p>
{% endif %}
{% endblock %}