{% extends 'imgs/base.html' %}

{% block content %}
{% if image %}
    <h1>{{ image.title }}</h1>
    <div>
        <img src="{{ image.url }}" alt="">
    </div>
    <div>
        {% for comment in comments %}
<<<<<<< HEAD
            <p class="c_nick"><strong>{{ comment.nick }}</strong></p>
            <p id="cc">{{ comment.text }}</p>
        {% endfor %}
    </div>
    <div>
        <h1>Post comment</h1>
        <form action="{% url 'post_comment' image.id %}" method="post">
            {% csrf_token %}
           <p>
               <label for="comment_nick">Nick</label>
               <input type="text" name="nick" id="comment_nick"></p>
           <p>
            <label for="comment_text">Text</label>   
            <input type="text" name="text" id="comment_text"></p> 
            <p>
                <input type="submit" value="Post comment">
            </p>
        </form>
    </div>
=======
            <p><strong>{{ comment.nick }}</strong></p>
            <p>{{ comment.text }}</p>
        {% endfor %}
    </div>
>>>>>>> upstream/master
{% else %}
    <p>No images in database!</p>
{% endif %}
{% endblock %}




