{% extends 'imgs/base.html' %}

{% block content %}
<h1>My Imgur</h1>
{% if all_images %}
    {% for image in all_images %}
        <div class="index--thumb">
            <h2>{{ image.title }}</h2>
<<<<<<< HEAD
            <a href="{% url 'detail' image.id %}"><img src="{{ image.url }}" alt=""></a>
        </div>
    {% endfor %}
    <h1>Post image</h1>
    <form action="http://127.0.0.1:8000/post_image" method="post">
        {% csrf_token %}
       <p>
           <label for="image_title">Image title</label>
           <input type="text" name="title" id="image_title"></p>
           <p>
            <label for="image_url">Image URL</label>
            <input type="text" name="url" id="image_url"></p>
            <p>
                <label for="image_description">Image Description</label>
                <input type="text" name="description" id="image_description"></p>
            <p>
                <label for="image_date">Date</label>
                <input type="date" name="pub_date" id="image_date"></p>
            <p>
                <input type="submit" value="Post image">
            </p>
       </form>
    
=======
            <img src="{{ image.url }}" alt="">
        </div>
    {% endfor %}
>>>>>>> upstream/master
{% else %}
    <p>No images in database!</p>
{% endif %}
{% endblock %}




